/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f4f4f9;
}

/* Grid Layout */
.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Default responsive behavior */
  gap: 20px;
  justify-items: center;
  margin: 20px auto;
  padding: 0 10px;
  max-width: 1200px; /* Maximum width for the grid layout */
}

@media (min-width: 768px) {
  .grid-layout {
    grid-template-columns: repeat(4, 1fr); /* Ensure no more than 3 items per row */
  }
}

.grid-layout .grid-item {
  text-align: center;
  background: #fff;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.grid-layout .grid-item img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.grid-layout .grid-item span {
  font-size: 14px;
  margin-top: 5px;
}

.grid-layout .grid-item:hover {
  transform: scale(1.05);
}

/* Subtopic Grid Container */
#subtopic-grid-container {
  margin-top: 30px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .grid-layout {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .grid-layout .grid-item img {
    width: 70px;
  }

  .grid-layout .grid-item span {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .grid-layout {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .grid-layout .grid-item img {
    width: 60px;
  }

  .grid-layout .grid-item span {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .grid-layout {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .grid-layout .grid-item img {
    width: 50px;
  }

  .grid-layout .grid-item span {
    font-size: 10px;
  }

  #subtopic-grid-container h2 {
    font-size: 16px;
  }
}
